[Desktop Entry]
Name=Barcode
Name[ca]=Codi de barres
Name[de]=Strichcode
Name[es]=Código de barras
Name[fi]=Viivakoodi
Name[gl]=Código de barras
Name[hu]=Vonalkód
Name[it]=Codice a barre
Name[nl]=Barcode
Name[pl]=Kod paskowy
Name[pt]=Código de Barras
Name[pt_BR]=Código de barras
Name[sk]=Čiarový kód
Name[sv]=Streckkod
Name[tr]=Barkod
Name[uk]=Штрихкод
Name[x-test]=xxBarcodexx
Comment=Barcode element for Reports
Comment[ca]=Element de codi de barres per informes
Comment[de]=Strichcode-Element für Berichte
Comment[es]=Elemento de código de barras para informes
Comment[fi]=Viivakoodielementti raportteihin
Comment[gl]=Código de barras para informes.
Comment[hu]=Vonalkód elem jelentésekhez
Comment[it]=Elemento codice a barre per i rapporti
Comment[nl]=Barcode-element voor rapporten
Comment[pl]=Element kodu kreskowego dla raportów
Comment[pt]=Elemento de Código de Barras dos Relatórios
Comment[pt_BR]=Elemento Código de barras para Relatórios
Comment[sk]=Prvok čiarového kódu pre Reports
Comment[sv]=Streckkodselement för rapporter
Comment[tr]=Raporlar için barkod ögesi
Comment[uk]=Елемент штрихкоду для звітів
Comment[x-test]=xxBarcode element for Reportsxx
Type=Service
Icon=kreport_barcode_element
Encoding=UTF-8

X-KDE-Library=kreport_barcodeplugin
X-KDE-ServiceTypes=KReport/Element
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kde.kreport.barcode
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-LegacyName=barcode

X-KReport-Priority=50
