[Desktop Entry]
Name=Chart Report Plugin
Name[ca]=Connector d'informes de diagrames
Name[fi]=Raportoinnin kaavioliitännäinen
Name[fr]=Module externe de panneaux pour Chart
Name[gl]=Complemento de informes de gráficos
Name[it]=Estensione rapporti grafici
Name[nl]=Plug-in voor grafiekrapport
Name[pt]='Plugin' Web de Relatórios de Gráficos
Name[pt_BR]=Plugin de mapas para relatório
Name[sk]=Plugin správy Chart
Name[sv]=Insticksprogram för diagramrapport
Name[uk]=Додаток діаграм звіту
Name[x-test]=xxChart Report Pluginxx
Comment=Calligra Reports Chart Plugin
Comment[ca]=Connector d'informes de diagrames del Calligra
Comment[fi]=Calligra Reportsin kaavioliitännäinen
Comment[gl]=Complemento para Calligra de gráficas web.
Comment[it]=Estensione per grafici dei rapporti di Calligra
Comment[nl]=Plug-in voor Calligra Reports Chart
Comment[pt]='Plugin' de Gráficos dos Relatórios do Calligra
Comment[pt_BR]=Plugin de gráficos de relatórios do Calligra
Comment[sk]=Grafový plugin Calligra Reports
Comment[sv]=Calligra-insticksprogram för diagramrapport
Comment[uk]=Додаток діаграм у звітах Calligra
Comment[x-test]=xxCalligra Reports Chart Pluginxx
X-KDE-Library=koreport_chartplugin
X-KDE-ServiceTypes=KoReport/ItemPlugin
Type=Service
