[Desktop Entry]
Name=Chart
Name[ca]=Gràfic
Name[fi]=Kaavio
Name[gl]=Gráfica
Name[nl]=Grafiek
Name[pl]=Wykres
Name[pt]=Gráfico
Name[pt_BR]=Gráfico
Name[sv]=Diagram
Name[uk]=Діаграма
Name[x-test]=xxChartxx
Comment=Chart element for Reports
Comment[ca]=Element de gràfic per informes
Comment[fi]=Kaavioelementti raportteihin
Comment[gl]=Gráfica para informes.
Comment[nl]=Grafiekelement voor rapporten
Comment[pl]=Element tabeli dla raportów
Comment[pt]=Elemento de Gráfico dos Relatórios
Comment[pt_BR]=Elemento Gráfico para Relatórios
Comment[sv]=Diagramelement för rapporter
Comment[uk]=Елемент діаграми для звітів
Comment[x-test]=xxChart element for Reportsxx
Type=Service
Icon=kreport_chart_element
Encoding=UTF-8

X-KDE-Library=kreport_chartplugin
X-KDE-ServiceTypes=KReport/Element
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kde.kreport.chart
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-LegacyName=chart

X-KReport-Priority=50
