[Desktop Entry]
Name=Image
Name[ca]=Imatge
Name[de]=Bild
Name[es]=Imagen
Name[fi]=Kuva
Name[gl]=Imaxe
Name[it]=Immagine
Name[nl]=Afbeelding
Name[pl]=Obraz
Name[pt]=Imagem
Name[pt_BR]=Imagem
Name[sk]=Obrázok
Name[sv]=Bild
Name[tr]=Resim
Name[uk]=Зображення
Name[x-test]=xxImagexx
Comment=Image element for Reports
Comment[ca]=Element d'imatge per informes
Comment[de]=Bildelement für Berichte
Comment[es]=Elemento de imagen para informes
Comment[fi]=Kuvaelementti raportteihin
Comment[gl]=Imaxe para informes.
Comment[it]=Elemento immagine per i rapporti
Comment[nl]=Afbeeldingselement voor rapporten
Comment[pl]=Element obrazu dla raportów
Comment[pt]=Elemento de Imagem dos Relatórios
Comment[pt_BR]=Elemento Imagem para Relatórios
Comment[sk]=Prvok obrázku pre Reports
Comment[sv]=Bildelement för rapporter
Comment[tr]=Raporlar için resim ögesi
Comment[uk]=Елемент зображення для звітів
Comment[x-test]=xxImage element for Reportsxx
Type=Service
Icon=image
Encoding=UTF-8

X-KDE-ServiceTypes=KReport/Element
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kde.kreport.image
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-LegacyName=image

X-KReport-Priority=1
