[Desktop Entry]
Name=Check box
Name[ca]=Casella de selecció
Name[de]=Ankreuzfeld
Name[es]=Casilla de verificación
Name[fi]=Valintaruutu
Name[gl]=Caixa de verificación
Name[hu]=Jelölőnégyzet
Name[it]=Casella di spunta
Name[nl]=Keuzevakje
Name[pl]=Pole wyboru
Name[pt]=Opção de marcação
Name[pt_BR]=Caixa de verificação
Name[sk]=Zaškrtávacie políčko
Name[sv]=Kryssruta
Name[tr]=Onay kutusu
Name[uk]=Пункт позначки
Name[x-test]=xxCheck boxxx
Comment=Check box element for Reports
Comment[ca]=Element de casella de selecció per informes
Comment[de]=Ankreuzelement für Berichte
Comment[es]=Elemento de casilla de verificación para informes
Comment[fi]=Valintaruutuelementti raportteihin
Comment[gl]=Caixa de verificación para informes.
Comment[hu]=Jelölőnégyzet elem jelentésekhez
Comment[it]=Elemento casella di spunta per i rapporti
Comment[nl]=Keuzevakje-element voor rapporten
Comment[pl]=Element pora wyboru dla raportów
Comment[pt]=Elemento de marcação dos Relatórios
Comment[pt_BR]=Elemento Caixa de verificação para Relatórios
Comment[sk]=Prvok zaškrtávacieho políčka pre Reports
Comment[sv]=Element med kryssruta för rapporter
Comment[tr]=Raporlar için onay kutusu ögesi
Comment[uk]=Елемент пункту позначки для звітів
Comment[x-test]=xxCheck box element for Reportsxx
Type=Service
Icon=kreport_checkbox_element
Encoding=UTF-8

X-KDE-ServiceTypes=KReport/Element
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kde.kreport.checkbox
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-LegacyName=check

X-KReport-Priority=5
