[Desktop Entry]
Name=Label
Name[ca]=Etiqueta
Name[de]=Beschriftung
Name[es]=Etiqueta
Name[fi]=Selite
Name[gl]=Etiqueta
Name[hu]=Címke
Name[it]=Etichetta
Name[nl]=Label
Name[pl]=Etykieta
Name[pt]=Legenda
Name[pt_BR]=Legenda
Name[sk]=Štítok
Name[sv]=Etikett
Name[tr]=Etiket
Name[uk]=Мітка
Name[x-test]=xxLabelxx
Comment=Label element for Reports
Comment[ca]=Element d'etiqueta per informes
Comment[de]=Beschriftungs-Element für Berichte
Comment[es]=Elemento de etiqueta para informes
Comment[fi]=Selite-elementti raportteihin
Comment[gl]=Etiqueta para informes.
Comment[hu]=Címke elem jelentésekhez
Comment[it]=Elemento etichetta per i rapporti
Comment[nl]=Labelelement voor rapporten
Comment[pl]=Element etykietydla raportów
Comment[pt]=Elemento de Legenda dos Relatórios
Comment[pt_BR]=Elemento Legenda para Relatórios
Comment[sk]=Prvok popisu pre Reports
Comment[sv]=Etikettelement för rapporter
Comment[tr]=Raporlar için etiket ögesi
Comment[uk]=Елемент мітки для звітів
Comment[x-test]=xxLabel element for Reportsxx
Type=Service
Icon=label
Encoding=UTF-8

X-KDE-ServiceTypes=KReport/Element
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kde.kreport.label
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-LegacyName=label

X-KReport-Priority=1
