[Desktop Entry]
Name=Maps Report Plugin
Name[ca]=Connector d'informes de mapes
Name[fi]=Raportoinnin karttaliitännäinen
Name[fr]=Module externe de rapports Maps
Name[gl]=Complemento de informes de mapas
Name[it]=Estensione rapporti mappe
Name[ja]=マップレポートプラグイン
Name[nb]=Programtillegg for kartrapport
Name[nl]=Plug-in voor Maps Report
Name[pl]=Wtyczka raportu map
Name[pt]='Plugin' de Relatório de Mapas
Name[pt_BR]=Plugin de mapas para relatório
Name[sk]=Plugin správy Maps
Name[sv]=Insticksprogram för kartrapport
Name[uk]=Додаток карт звіту
Name[x-test]=xxMaps Report Pluginxx
Comment=Calligra Reports Maps Plugin
Comment[ca]=Connector d'informes de mapes del Calligra
Comment[fi]=Calligra Reportsin karttaliitännäinen
Comment[fr]=Module externe de panneaux pour Calligra
Comment[gl]=Complemento para Calligra de informes de mapas.
Comment[it]=Estensione rapporti mappe di Calligra
Comment[ja]=Calligra レポートマッププラグイン
Comment[nb]=Kart-programtillegg for Calligra-rapporter
Comment[nl]=Plug-in voor Calligra Reports Maps
Comment[pl]=Wtyczka raportu map dla Calligry
Comment[pt]='Plugin' de Mapas dos Relatórios do Calligra
Comment[pt_BR]=Plugin de mapas dos relatórios do Calligra
Comment[sk]=Mapový plugin Calligra Reports
Comment[sv]=Calligra-insticksprogram för kartrapport
Comment[uk]=Додаток карт у звітах Calligra
Comment[x-test]=xxCalligra Reports Maps Pluginxx
X-KDE-Library=koreport_mapsplugin
X-KDE-ServiceTypes=KoReport/ItemPlugin
Type=Service
