[Desktop Entry]
Name=Maps
Name[ca]=Mapes
Name[ca@valencia]=Mapes
Name[de]=Karten
Name[es]=Mapas
Name[fi]=Kartta
Name[gl]=Mapas
Name[hu]=Térképek
Name[it]=Mappe
Name[nl]=Kaarten
Name[pl]=Mapy
Name[pt]=Mapas
Name[pt_BR]=Mapas
Name[sk]=Mapy
Name[sv]=Kartor
Name[tr]=Haritalar
Name[uk]=Карти
Name[x-test]=xxMapsxx
Name[zh_CN]=地图
Comment=Maps element for Reports
Comment[ca]=Element de mapes per informes
Comment[ca@valencia]=Element de mapes per informes
Comment[de]=Kartenelement für Berichte
Comment[es]=Elemento de mapas para informes
Comment[fi]=Karttaelementti raportteihin
Comment[gl]=Elemento de mapas para informes.
Comment[hu]=Térkép elem jelentésekhez
Comment[it]=Elemento Mappe per i rapporti
Comment[nl]=Kaartelement voor rapporten
Comment[pl]=Element mapy dla raportów
Comment[pt]=Elemento de Mapas dos Relatórios
Comment[pt_BR]=Elemento Mapas para Relatórios
Comment[sk]=Prvok máp pre Reports
Comment[sv]=Kartelement för rapporter
Comment[tr]=Raporlar için haritalar ögesi
Comment[uk]=Елемент карти для звітів
Comment[x-test]=xxMaps element for Reportsxx
Type=Service
Icon=report_maps_element
Encoding=UTF-8

X-KDE-Library=kreport_mapsplugin
X-KDE-ServiceTypes=KReport/Element
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kde.kreport.maps
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-LegacyName=maps

X-KReport-Priority=50
