[Desktop Entry]
Name=Maps
Name[ca]=Mapes
Name[de]=Karten
Name[gl]=Mapas
Name[nl]=Kaarten
Name[pl]=Mapy
Name[pt]=Mapas
Name[pt_BR]=Mapas
Name[sk]=Mapy
Name[sv]=Kartor
Name[uk]=Карти
Name[x-test]=xxMapsxx
Comment=Maps element for Reports
Comment[ca]=Element de mapes per informes
Comment[de]=Kartenelement für Berichte
Comment[gl]=Elemento de mapas para informes.
Comment[nl]=Kaartelement voor rapporten
Comment[pl]=Element mapy dla raportów
Comment[pt]=Elemento de Mapas dos Relatórios
Comment[pt_BR]=Elemento Mapas para Relatórios
Comment[sv]=Kartelement för rapporter
Comment[uk]=Елемент карти для звітів
Comment[x-test]=xxMaps element for Reportsxx
Type=Service
Icon=report_maps_element
Encoding=UTF-8

X-KDE-Library=kreport_mapsplugin
X-KDE-ServiceTypes=KReport/Element
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kde.kreport.maps
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

X-KReport-Priority=50
