[Desktop Entry]
Name=Text
Name[ca]=Text
Name[de]=Text
Name[es]=Texto
Name[fi]=Teksti
Name[gl]=Texto
Name[it]=Testo
Name[nb]=Tekst
Name[nl]=Tekst
Name[pl]=Tekst
Name[pt]=Texto
Name[pt_BR]=Texto
Name[sk]=Text
Name[sv]=Text
Name[tr]=Metin
Name[uk]=Текст
Name[x-test]=xxTextxx
Name[zh_CN]=文本
Comment=Text element for Reports
Comment[ca]=Element de text per informes
Comment[de]=Textelement für Berichte
Comment[es]=Elemento de texto para informes
Comment[fi]=Tekstielementti raportteihin
Comment[gl]=Texto para informes.
Comment[it]=Elemento di testo per i rapporti
Comment[nl]=Tekstelement voor rapporten
Comment[pl]=Element tekstowy dla raportów
Comment[pt]=Elemento de Texto dos Relatórios
Comment[pt_BR]=Elemento Texto para Relatórios
Comment[sk]=Prvok textu pre Reports
Comment[sv]=Textelement för rapporter
Comment[tr]=Raporlar için metin ögesi
Comment[uk]=Елемент тексту для звітів
Comment[x-test]=xxText element for Reportsxx
Type=Service
Icon=insert-text
Encoding=UTF-8

X-KDE-ServiceTypes=KReport/Element
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kde.kreport.text
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-LegacyName=text

X-KReport-Priority=1
