[Desktop Entry]
Name=Field
Name[ca]=Camp
Name[ca@valencia]=Camp
Name[de]=Feld
Name[es]=Campo
Name[fi]=Kenttä
Name[gl]=Campo
Name[hu]=Mező
Name[it]=Campo
Name[nl]=Veld
Name[pl]=Pole
Name[pt]=Campo
Name[pt_BR]=Campo
Name[sk]=Pole
Name[sv]=Fält
Name[tr]=Alan
Name[uk]=Поле
Name[x-test]=xxFieldxx
Comment=Field element for Reports
Comment[ca]=Element de camp per informes
Comment[ca@valencia]=Element de camp per informes
Comment[de]=Feldelement für Berichte
Comment[es]=Elemento de campo para informes
Comment[fi]=Kenttäelementti raporteille
Comment[gl]=Campo para informes.
Comment[hu]=Mező elem jelentésekhez
Comment[it]=Elemento campo per i rapporti
Comment[nl]=Veld-element voor rapporten
Comment[pl]=Element pola dla raportów
Comment[pt]=Elemento de Campo dos Relatórios
Comment[pt_BR]=Elemento Campo para Relatórios
Comment[sk]=Prvok poľa pre Reports
Comment[sv]=Fältelement för rapporter
Comment[tr]=Raporlar için alan ögesi
Comment[uk]=Елемент поля для звітів
Comment[x-test]=xxField element for Reportsxx
Type=Service
Icon=kreport_field_element
Encoding=UTF-8

X-KDE-ServiceTypes=KReport/Element
X-KDE-PluginInfo-Author=Kexi Team
X-KDE-PluginInfo-Email=kexi@kde.org
X-KDE-PluginInfo-Name=org.kde.kreport.field
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kexi-project.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-LegacyName=field

X-KReport-Priority=1
