[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KoReport/ItemPlugin
Comment=KoReport Item Plugin
Comment[ca]=Connector de l'ítem KoReport
Comment[es]=Complemento del elemento KoReport
Comment[fi]=KoReportin elementtiliitännäinen
Comment[fr]=Module externe d'élément KoReport
Comment[gl]=Complemento de elementos de KoReport
Comment[it]=Estensione per elemento KoReport
Comment[ja]=KoReport アイテムプラグイン
Comment[nb]=Programtillegg for KoReport-element
Comment[nl]=Plug-in voor KoReport-item
Comment[pl]=Wtyczka elementu KoReport
Comment[pt]='Plugin' de Itens do KoReport
Comment[pt_BR]=Plugin de itens do KoReport
Comment[sk]=Plugin položky KoReport
Comment[sv]=Insticksprogram för Koffice objektrapport
Comment[uk]=Додаток елементів KoReport
Comment[x-test]=xxKoReport Item Pluginxx
Comment[zh_CN]=KoReport 项目插件
