[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KReport/Element
Comment=KReport Element Plugin
Comment[ca]=Connector de l'element KReport
Comment[ca@valencia]=Connector de l'element KReport
Comment[fi]=KReportin elementtiliitännäinen
Comment[nl]=Plug-in voor KReport-element
Comment[pt]='Plugin' de Elemento do KReport
Comment[pt_BR]=Plugin de elemento do KReport
Comment[sv]=Insticksprogram för Kreport-element
Comment[uk]=Додаток елементів KReport
Comment[x-test]=xxKReport Element Pluginxx
