[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KReport/Element
Comment=KReport Element Plugin
Comment[ast]=Complementu del elementu de KReport
Comment[ca]=Connector de l'element KReport
Comment[ca@valencia]=Connector de l'element KReport
Comment[da]=KReport element-plugin
Comment[de]=KReport-Elementmodul
Comment[el]=Πρόσθετο αντικειμένων KReport
Comment[en_GB]=KReport Element Plugin
Comment[eo]=KReport-Elementa Kromprogramo
Comment[es]=Complemento de elemento de KReport
Comment[et]=KReporti komponendi plugin
Comment[eu]=KReport elementuen plugina
Comment[fi]=KReportin elementtiliitännäinen
Comment[fr]=Module externe d'éléments KReport
Comment[gl]=Complemento de elementos de KReport.
Comment[he]=תוסף רכיב KReport
Comment[hu]=KoReport elembővítmény
Comment[ia]=Plugin de elemento de KReport
Comment[it]=Estensione per elemento KReport
Comment[ka]=KReport ელემენტის დამატება
Comment[ko]=KReport 요소 플러그인
Comment[nl]=Plug-in voor KReport-element
Comment[nn]=KReport-tillegg
Comment[pl]=Wtyczka elementu KReport
Comment[pt]='Plugin' de Elemento do KReport
Comment[pt_BR]=Plugin de elemento do KReport
Comment[ro]=Extensie de element KReport
Comment[ru]=Модуль KReport Element
Comment[sk]=Plugin položky KReport
Comment[sl]=Vtičnik KReport Element
Comment[sv]=Insticksprogram för Kreport-element
Comment[tr]=KReport Öge Eklentisi
Comment[uk]=Додаток елементів KReport
Comment[x-test]=xxKReport Element Pluginxx
Comment[zh_CN]=KReport 元素插件
Comment[zh_TW]=KReport 元件外掛程式
